@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: #1f1911;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: -60px;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu.flutuante {
  top: 0;
}

.btn-header {
  background-color: #ffc506;
}

.btn-header:hover {
  background-color: transparent;
  border: 1px solid #ffc506;
  color: white;
}

.banner {
  width: 100%;
  height: 100svh;
}

.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text-overlay h1 {
  color: #ffc506;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Indie Flower", cursive;
}

.text-overlay a {
  width: 230px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffc506;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  transition: all 200ms ease-in;
  margin-top: 5rem;
  padding: 16px 24px;
}

.text-overlay a:hover {
  border: 1px solid #ffc506;
  background-color: transparent;
  color: #ffc506;
}
.sobre {
  width: 100%;
  height: 100svh;
  background-color: #1f1911;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.sobre .text-title {
  color: #ffc506;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.sobre .text {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
}

.sobre .image {
  width: 50%;
  padding: 34px;
  border-radius: 14px;
}

.cardapio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.8),
      rgba(15, 15, 15, 0.8)
    ),
    url(/assets/fundo-pizza.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.itens-cardapio {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.itens-cardapio .info {
  background-color: rgb(221, 221, 221);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width: 300px;
  height: 300px;
}

.itens-cardapio .info h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.itens-cardapio .info p {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.itens-cardapio .info p span {
  font-size: 1.6rem;
  color: #ff0000;
  margin-left: 1.5rem;
  text-decoration: underline;
}

.itens-cardapio div {
  background-color: #5e5252;
  box-shadow: 0px 0px 4px 1px;
}

.itens-cardapio img {
  width: 300px;
  height: 200px;
}

.itens-cardapio .info .pedir {
  width: 200px;
  height: 35px;
  margin-top: 0.5rem;
  background-color: #ffc506;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: all 200ms ease-in;
}

.itens-cardapio .info .pedir:hover {
  background-color: #5e5252;
  color: rgb(255, 255, 255);
}
